_site
.sass-cache
.jekyll-metadata
node_modules
Gemfile.lock
.DS_Store
.env
*.gem
.bundle
_asset_bundler_cache
npm-debug.log*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json