<head>
    {% include analytics.html %}
    {% include advertisement.html %}
    <link rel="alternate" href="{{ site.url }}" hreflang="en" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ page.title }}" />
    {% endif %}
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author" content="codebee">

    <!-- Google+ author -->
    <link rel="author" href="https://plus.google.com/u/0/108544721168830584394"/>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Twitter Card meta information -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@codebeeatwork">
    <meta name="twitter:creator" content="@codebeeatwork">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.post-img %}
        <meta name="twitter:image:src" content="{{ site.url }}/img/posts/{{ page.post-img }}">
    {% else %}
        <meta name="twitter:image" content="{{ site.url }}/img/mascot.jpg">
    {% endif %}

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/vendor/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}" media="all">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.min.css" | prepend: site.baseurl }}" media="all">

    <!-- Custom Fonts -->
    <link href="{{ "/vendor/font-awesome/css/font-awesome.min.css"  | prepend: site.baseurl}}" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Sumo Me script-->
    <script src="//load.sumome.com/" data-sumo-site-id="6cd9e3ecf2eaf515c043962f2dd32f6dd030186d96fd53907a51f7f1bff7f930" async="async"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% feed_meta %}
    {% seo %}
</head>